<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-baut Hinterameise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="Style.css">
    <a name="top"></a>
</head>
<body class="row">
    <nav id="nav" class="col-2 col-md-1 fixed-top">
        <img class="hamburger" src="https://img.icons8.com/ios/50/000000/menu.png">
        <a href="#Allgemein" class="active"><img src="img/allgemein.svg" alt="Allgemein" ></a>
        <a href="#Interface"><img src="img/schnittstelle.svg" alt="Schnitstellen" ></a>
        <a href="#Example"><img src="img/python.svg" alt="Beispiel" ></a>
    </nav>
    <div class="main-container col-12 col-md-11 offset-md-1">
        <header class="row">
            <h1>Backend</h1>
        </header>
        <main class="row">
            <section id="Allgemein" class="row col-12">
                <h2 class="col-12">Allgemein</h2>
                <div class="col-12 col-md-10 start-img-container">
                    <img src="img/backend.png" alt="What is Backend" class="start-img">
                </div>
                <p class="col-12" style="text-align: center;">Was genau bezeichnet man als Backend? Was umfasst das Backend? Und was genau macht ein Backend-Entwickler?
                    Das und mehr erfahrt ihr auf unserer Website!</p>
                <div class="col-12 d-flex flex-wrap justify-content-around">
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            <h5 class="card-title">Backend</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Was ist das?</h6>
                            <p class="card-text">Der Begriff Backend beschreibt in der Regel den teil der Applikation, mit dem der User nicht in Verbindung kommt.
                                In der Web Entiwcklung zum Beispiel handelt es häufig um die Serverseitige Logik.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            <h5 class="card-title">Welche Sprachen werden in der Backend Entwicklung verwendet?</h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text">Viele verschiedene Sprachen werden in der Backend Entwicklung verwendet. Je nach Anwendungsfall eignen sich einige Sprachen besser als andere.</p>
                            <a href="#Example" class="card-link w-100">Ein Beispiel für ein Python Backend!</a href><br><br>
                            <a href="#sprachen" class="card-link w-100">Beliebte sprachen</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            <h5 class="card-title">Und was ist ein Frontend?</h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text">Die andere seite einer Software oder Applikation, die, mit welcher der User interagiert, nennt man Frontend. Das Frontend kann dabei direkt mit dem Backend verbunden sein,
                                wie zum beispiel beim Server Sided Rendering, oder es kann über eine Schittstelle (API) mit dem Backend verbunden werden. Wir werden uns hier eher mit letzterer Variante auseinander setzen.</p>
                        </div>
                    </div>
                </div>
                <h4 class="col-12">Frontend Vs Backend</h4>
                <p class="col-12" style="text-align: center;">Fahre mit der Maus über die Bilder um die Unterschiede zu erfahren!</p> <!-- IMPORTANT! TODO: Make the content accesable on mobile. JavaScript anyone? -->
                <div class="col-12 col-md-10 start-img-container what-is-container">
                    <img src="img/backend-frontend-part1.png" alt="What is Backend" class="start-img backend" style="margin-right: 0!important;">
                    <img src="img/backend-frontend-part2.png" alt="What is Backend" class="start-img frontend" style="margin-left: 0!important;">
                    <div class="frontend-backend">
                        <div class="backend-only">
                            <h5>Backend</h5>
                            <p>Das Backend ist zuständig für die Datenverarbeitung und die Datenverwaltung. Es werden diverse logische Operationen durchgeführt und Daten in Datenbanken oder im Filesystem gespeichert und abgerufen.
                            Häufig ist ein Backend über eine API mit dem Frontend verbunden.</p>
                        </div>
                        <div class="frontend-only">
                            <h5>Frontend</h5>
                            <p>Das Frontend ist der Teil der Seite, mit der der User Interagiert. Ein ansprechendes Design und eine leichte Zugänglichkeit sind wichtig.
                            Im Frontend kann zwar auch viel Logik existieren aber allgemein ist das Frontend zur Anzeige von Daten gedacht.</p>
                        </div>
                    </div>
                </div>
                <h4 class="col-12">Beliebte Backend Sprachen</h4>
                <ul class="list-unstyled col-12 d-flex flex-wrap" id="sprachen">
                    <li class="media my-4 col-md-6">
                        <img src="img/python.svg" class="mr-3" alt="Python">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Python</h5>
                            Python ist eine Sprache welche bekannt dafür ist keine klammern, sondern Einrückung zu verwenden. Eine der großen Stärken, welche Python vorweisen kann, ist die Datenverarbeitung und Datenvisualisierung.
                            Eine der größten schwächen ist die Performance. Daher gehört Python zu den langsameren Sprachen.
                        </div>
                    </li>
                    <li class="media my-4 col-md-6">
                        <img src="img/java-icon.png" class="mr-3" alt="Java">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Java</h5>
                            Java ist eine weit verbreitete Sprache, welche gerne als beispiel für Objekt Orientierte Programmierung genommen wird. Java wird für die Entwicklung diverser Software Anwendungen und Applikationen verwendet.
                            Der Vorteil, den Java mit sich bringt ist, dass Java dank der Java Virtual Machine, welche den code ausführt, auf allen gänginen Betriebssystemen lauffähig ist. Außerdem macht die relativ strikte struktur die Sprache zu einer perfekten Alternative für Anfänger.
                        </div>
                    </li>
                    <li class="media my-4 col-md-6">
                        <img src="img/nodejslogo.png" class="mr-3" alt="NodeJS">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">NodeJS</h5>
                            NodeJS ist eigentlich keine Sprache, sondern eine Runtime Environment. Sie erlaubt die Backend-Programmierung in JavaScript. Das ist einer der Gründe, wieso NodeJS unter Web-Entwicklern so beliebt ist; im Front- und Backend kann die selbe Sprache verwendet werden.
                            Außerdem macht die Non-Blocking Architektur NodeJS zu einer der schnellsten und effizientesten alternativen für I/O Anwendungen. Rechenintensive Aufgaben jedoch können in NodeJS vergleichsweise lange brauchen.
                        </div>
                    </li>
                    <li class="media my-4 col-md-6">
                        <img src="img/php.png" class="mr-3" alt="PHP">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">PHP</h5>
                            Bei PHP handelt es sich um die klassische Backend-Sprache für das Web. Die urpsrüngliche PHP Syntax basiert auf C, hat sich jedoch über die Jahre starkt verändert. Deshalb wird PHP auch als eher unschöne Sprache wahrgenommen.
                            Weil PHP 5 so alt und langsam war und PHP 6 ein debakel war, war lange die Rede davon dass PHP in Zukunft komplett abgelöst werden soll. PHP 7 kann jedoch durch hohe Geschwindigkeit und stabilität überzeugen. Es ist eine der schnellsten Backend Sprachen wenn es
                            um den Zugriff auf SQL Server geht.
                        </div>
                    </li>
                </ul>
            </section>
            <section id="Interface" class="row col-12">
                <h2 class="col-12">Schnittstellen</h2>
                <div class="col-12" id="schnitstellen">
                    <p class="text-center">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#rest" aria-expanded="false" aria-controls="rest">
                            REST API
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#websockets" aria-expanded="false" aria-controls="websockets">
                            Web Sockets
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#graphql" aria-expanded="false" aria-controls="graphql">
                            GraphQL
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#andere" aria-expanded="false" aria-controls="andere">
                            Andere
                        </button>
                    </p>
                    <div class="collapse" id="rest" data-parent="#schnitstellen">
                        <div class="card card-body">
                            REST steht für Representational State Transfer. Die REST API ist eine Abstraktion der gesamten Struktur des Internets.
                            Es orientiert sich an den Paradigmen und dem Verhalten des Internets(www),
                            das bedeutet das sich der Großteil der für REST notwendigen Infrastruktur bereits im Internet vorhanden ist.
                            In der REST API werden 6 Unterschiedliche Prizipien verlangt
                            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Klare Trennung von Nutzerinterface und Datenhaltung">
                                    Client-Server-Modell
                            </button>
                            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Client und Server müssen zwingend zustandslos miteinander kommunizieren können">
                                    Zustandslosigkeit
                            </button>
                            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Informationen des Clienten können vom Server gespeichert, und per Request geladen werden">
                                    Caching
                            </button>
                            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Die Schnittstelle muss von verschiedensten Endgeräten aus nutzbar gemacht werden können">
                                    Eine einheitliche Schnittstelle
                            </button>
                            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Die API setzt auf streng abgegrenzte mehrschichtige und hierarchisch aufgebaute Systeme">
                                    Layered Systems
                            </button>
                            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Die Funktionen von Clients müssen über nachladbare und ausführbare Programmteile erweitert werden können">
                                    Code on Demand
                            </button>
                            
                            
                        </div>
                    </div>
                    <div class="collapse" id="websockets" data-parent="#schnitstellen">
                        <div class="card card-body">
                           Web Sockets ist ein bidirektionales Protokoll zwischen Browser und Server. Es überwindet somit Einschränkungen mit HTTP 
                           um eine Kommunikation mit geringer Latenz zwischen einem Benutzer und einem Webdienst zu ermöglichen.
                        </div>
                    </div>
                    <div class="collapse" id="graphql" data-parent="#schnitstellen">
                        <div class="card card-body">
                           GraphQL ist eine von Facebook entwickelte Schnittstelle die sich zur Aufgabe gemacht hat schwankende und limitierte Verbindungsqualität mobiler Geräte zu verbessern.
                           Der Client erhält dafür Zugriff auf ein als Graph dargestelltes Datenmodell des Servers, gegen das er Anfragen stellen kann. 
                           Die zu übertragende Datenmenge lässt sich je nach Anwendungsfall optimieren, indem nur der tatsächlich benötigte Teil der Daten des Servers angefordert wird. 

                        </div>
                    </div>
                    <div class="collapse" id="andere" data-parent="#schnitstellen">
                        <div class="card card-body">
                           Weitere Alternativen sind z.B SOAP, XML-RPC und JSON-RPC. SOAP ist eine der wichtigsten APIs, diese existiert auch seit fast 20 Jahren.
                        </div>
                    </div>
                </div>
            </section>
            <section id="Example" class="row col-12">
                <h2 class="col-12">Beispiel</h2>
                <div class="col-12" id="example">
                    <div class="col-12 d-flex flex-wrap justify-content-around">
                        <div class="card my-4 col-md-6" style="width: fit-content; margin-bottom: 10px;">
                            <div class="card-body">
                                <h5 class="card-title text-center">Django</h5>
                                <h6 class="card-subtitle mb-2 text-muted text-center">Was ist Django?</h6>
                                <p class="card-text">Django ist ein Web Framework für Python, mit welchem man schnell und mit wenig Code eine Applikation schreiben kann. Es ist in vielerlei Hinsicht das Python-Gegenstück zu Ruby on Rails, 
                                    da es sich Beispielsweise auch auf die Einhaltung des DRY-Prinzips (Don't Repeat Yourself) konzentriert.</p>
                                <h6 class="card-subtitle mb-2 text-muted text-center">Was kann Django?</h6>
                                <p class="card-text">Django ist ein kostenloses Open-Source Framework, welches der schnellen Entwicklung von Applikationen mit sauberem Design dient. Es hilft weitverbreitete Sicherheitslücken zu vermeiden und bleibt dabei Skalierbar. 
                                    Man kann mit Django innerhalb von Stunden sein Konzept in eine vollwertige Applikation umwandeln. Zudem nimmt es auch noch viele Aufgaben, wie z.B. das Erstellen von User-Authentications oder Content Administration, ab.</p>
                            </div>
                        </div>
                        <div class="card my-4 col-md-6" style="width: fit-content; margin-bottom: 10px;">
                            <div class="card-body">
                                <h5 class="card-title text-center">Boilerplating</h5>
                                <h6 class="card-subtitle mb-2 text-muted text-center">Voraussetzungen für Mac (unsere Entwicklungsumgebung):</h6>
                                <p class="card-text">
                                        <ul>
                                            <li>Python 2.7</li>
                                            <li>Python 3.7</li>
                                            <li>pip Package Management System</li>
                                            <li>Django Framework</li>
                                            <li>Python Interpreter (Pylint)</li>
                                            <li>Ggfs. SQLparser</li>
                                            <p class="text-center">Installationsanleitung:</p>
                                            <li>Für <a href="https://appdividend.com/2018/03/28/how-to-install-django-in-mac/">MacOS</a></li>
                                            <li>Für <a href="https://poweruphosting.com/blog/install-django/#win">Windows</a></li>
                                            <li>Für <a href="https://docs.djangoproject.com/en/2.2/topics/install/">Linux</a></li>
                                            <p class="text-center"><a href="https://github.com/Andust1234/Django_Backend"> GitHub Beispielprojekt</a></p>
                                        </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center my-4">Der Code</h5>
                    <p class="text-center">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#views" aria-expanded="false" aria-controls="views">
                            Views
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#urls" aria-expanded="false" aria-controls="urls">
                            URLs
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#models" aria-expanded="false" aria-controls="models">
                            Models
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#admin" aria-expanded="false" aria-controls="admin">
                            Admin
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#detail" aria-expanded="false" aria-controls="detail">
                            Detail.html
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#index" aria-expanded="false" aria-controls="index">
                            Index.html
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#results" aria-expanded="false" aria-controls="results">
                            Results.html
                        </button>
                    </p>
                    <div class="col-12 wrapper collapse" id="views" data-parent="#example">
                        <div class="editor code-wrapper" id="editorViews">from django.shortcuts import get_object_or_404, render
from django.http import HttpResponseRedirect
from django.urls import reverse
from django.views import generic
from django.shortcuts import render
from django.utils import timezone
                            
from .models import Choice, Question
# functions + routing to the views
                            
class IndexView(generic.ListView):
    template_name = 'polls/index.html'
    context_object_name = 'latest_question_list'
                            
    def get_queryset(self):
        return Question.objects.filter(
            pub_date__lte=timezone.now()
        ).order_by('-pub_date')[:5]
                            
class DetailView(generic.DetailView):
    model = Question
    template_name = 'polls/detail.html'
                        
class ResultsView(generic.DetailView):
    model = Question
    template_name = 'polls/results.html'
                            
    def get_queryset(self):
        return Question.objects.filter(pub_date__lte=timezone.now())
                            
    def vote(request, question_id):
        question = get_object_or_404(Question, pk=question_id)
        try:
            selected_choice = question.choice_set.get(pk=request.POST['choice'])
        except (KeyError, Choice.DoesNotExist):
            return render(request, 'polls/detail.html', {
                'question': question,
                'error_message': "You didn't select a choice.",
            })
        else:
            selected_choice.votes += 1
            selected_choice.save()
            return HttpResponseRedirect(reverse('polls:results', args=(question.id,)))
                        </div>
                    </div>
                    <div class="col-12 wrapper collapse" id="urls" data-parent="#example">
                        <div class="editor code-wrapper" id="editorUrls">from django.urls import path

from . import views
# routes every page
app_name = 'polls'
urlpatterns = [
    path('', views.IndexView.as_view(), name='index'),
    path('<int:pk>/', views.DetailView.as_view(), name='detail'),
    path('<int:pk>/results/', views.ResultsView.as_view(), name='results'),
    path('<int:question_id>/vote/', views.vote, name='vote'),
]
                        </div>
                    </div>
                    <div class="col-12 wrapper collapse" id="models" data-parent="#example">
                        <div class="editor code-wrapper" id="editorModels">import datetime

from django.db import models
from django.utils import timezone
                            
# Creates models and defines them
                            
class Question(models.Model):
    question_text = models.CharField(max_length=200)
    pub_date = models.DateTimeField('date published')
    def __str__(self):
        return self.question_text
                                
    def was_published_recently(self):
        now = timezone.now()
        return now - datetime.timedelta(days=1) <= self.pub_date <= now
    was_published_recently.admin_order_field = 'pub_date'
    was_published_recently.boolean = True
    was_published_recently.short_description = 'Published recently?'
                            
                            
class Choice(models.Model):
    question = models.ForeignKey(Question, on_delete=models.CASCADE)
    choice_text = models.CharField(max_length=200)
    votes = models.IntegerField(default=0)
    def __str__(self):
        return self.choice_text
                        </div>
                    </div>
                    <div class="col-12 wrapper collapse" id="admin" data-parent="#example">
                        <div class="editor code-wrapper" id="editorAdmin">from django.contrib import admin
# builds the Admin panel to configure the polls
from .models import Choice, Question
                            
class ChoiceInline(admin.TabularInline):
    model = Choice
    extra = 3
                            
class QuestionAdmin(admin.ModelAdmin):
    fieldsets = [
        (None, {'fields': ['question_text']}),
        ('Date information', {'fields': ['pub_date'], 'classes': ['collapse']}),
    ]
    inlines = [ChoiceInline]
    list_display = ('question_text', 'pub_date', 'was_published_recently')
    list_filter = ['pub_date']
    search_fields = ['question_text']
                            
admin.site.register(Question, QuestionAdmin)
                        </div>
                    </div>
                    <div class="col-12 wrapper collapse" id="detail" data-parent="#example">
                        <div class="editor code-wrapper" id="editorDetail">&#60;h1>{{ question.question_text }}&#60;/h1>

{% if error_message %}&#60;p>&#60;strong>{{ error_message }}&#60;/strong>&#60;/p>{% endif %}
                            
&#60;form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        &#60;input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        &#60;label for="choice{{ forloop.counter }}">{{ choice.choice_text }}&#60;/label>&#60;br>
    {% endfor %}
&#60;input type="submit" value="vote">
&#60;/form>
                        </div>
                    </div>
                    <div class="col-12 wrapper collapse" id="index" data-parent="#example">
                        <div class="editor code-wrapper" id="editorIndex">{% load static %}

&#60;link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
                                
{% if latest_question_list %}
    &#60;ul>
        {% for question in latest_question_list %}
            &#60;li>&#60;a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}&#60;/a>&#60;/li>
        {% endfor %}
    &#60;/ul>
{% else %}
    &#60;p>No polls are available.&#60;/p>
{% endif %}
                        </div>
                    </div>
                    <div class="col-12 wrapper collapse" id="results" data-parent="#example">
                        <div class="editor code-wrapper" id="editorResults">&#60;h1>{{ question.question_text }}&#60;/h1>

&#60;ul>
    {% for choice in question.choice_set.all %}
        &#60;li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}&#60;/li>
    {% endfor %}
&#60;/ul>
                            
&#60;a href="{% url 'polls:detail' question.id %}">Vote again?&#60;/a>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <footer class="row">
            <h3>Dustin hate Counter: <span class="badge badge-danger">3</span><br>Group hate Counter: <span class="badge badge-danger">4</span></h3>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editorViews = ace.edit("editorViews");
        editorViews.setTheme("ace/theme/monokai");
        editorViews.session.setMode("ace/mode/python");
        var editorUrls = ace.edit("editorUrls");
        editorUrls.setTheme("ace/theme/monokai");
        editorUrls.session.setMode("ace/mode/python");
        var editorModels = ace.edit("editorModels");
        editorModels.setTheme("ace/theme/monokai");
        editorModels.session.setMode("ace/mode/python");
        var editorAdmin = ace.edit("editorAdmin");
        editorAdmin.setTheme("ace/theme/monokai");
        editorAdmin.session.setMode("ace/mode/python");
        var editorDetail = ace.edit("editorDetail");
        editorDetail.setTheme("ace/theme/monokai");
        editorDetail.session.setMode("ace/mode/html");
        var editorIndex = ace.edit("editorIndex");
        editorIndex.setTheme("ace/theme/monokai");
        editorIndex.session.setMode("ace/mode/html");
        var editorResults = ace.edit("editorResults");
        editorResults.setTheme("ace/theme/monokai");
        editorResults.session.setMode("ace/mode/html");
    </script>
</body>
</html>
