body {
    height: 100vh;
    margin: 0!important;
    padding: 0;
}

nav {
    background-color: blueviolet;
    transition: top 0.3s;
    padding: 0!important;
}

nav img {
    height: 64px;
    width: 64px;
    margin: auto;
    margin-top: 50px;
    display: block;
}

main {
    background-color: chartreuse;
    margin: 0!important;
    padding: 0;
}

.main-container {
    padding: 0;
}

header {
    background-color: darkred;
    height: 75px;
    margin: 0!important;
    padding: 0;
}

footer {
    background-color: lavender;
    height: 75px;
    margin: 0!important;
    padding: 0;
}