body {
    height: 100vh;
    margin: 0!important;
    padding: 0;
}

section {
    padding: 0!important;
    margin: 0!important;
}

nav {
    background-color: blueviolet;
    transition: top 0.3s;
    padding: 0!important;
    height: 100%;
}

nav img {
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 50px;
    display: block;
}

nav a img {
    opacity: 0.8;
    transition: 0.5s;
}

nav a img:hover {
    opacity: 1;
}

.active img {
    opacity: 1;
}

main {
    background-color: #E7ECEF;
    margin: 0!important;
    padding: 0;
}

.main-container {
    padding: 0;
}

header {
    background-color: blueviolet;
    height: 75px;
    margin: 0!important;
    padding: 0;
}

header h1 {
    margin: auto;
}

header.scrolled {
    height: 35px;
    position: fixed;
    right: 0px;
    width: calc(100%/12*11*1.001); /*CSS HACKSOR*/
    z-index: 100;
}

header.scrolled h1 {
    font-size: 20px;
}

main.scrolled {
    margin-top: 75px!important;
}

section>h2, section>h3, section>h4 {
    text-align: center;
}

footer {
    background-color: lavender;
    height: 75px;
    margin: 0!important;
    padding: 0;
}

.back-to-top {
    width: fit-content;
    margin: auto;
}

.back-to-top img {
    height: 50px;
    width: 50px;
    margin: auto;
    margin-bottom: 5px;
    display: block;
}

.hamburger {
    margin-top: 12.5px;
    display: none;
}

/* Custome Media Queries*/

@media screen and (max-width: 767px) {
    #nav {
        overflow: hidden;
        height: 75px;
        transition: 0.5s;
    }

    .hamburger {
        display: block;
    }

    .active-menue {
        height: 100%!important;
    }

    header {
        position: fixed;
        right: 0px;
        width: 100vw;
        z-index: 100;
    }

    header.scrolled {
        height: 75px!important
    }

    main {
        margin-top: 75px!important;
    }
}

.media img {
    width: 64px!important;
    height: 64px!important;
}

/* Explicit Bootstrap overrides!*/

.btn-primary {
    background-color: #af5efb!important;
    border-color: #bc75ff!important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(196,141,247,.5)!important;
}