body {
    height: 100vh;
    margin: 0!important;
    padding: 0;
    background-color: #E7ECEF;
}

section {
    padding: 0!important;
    margin: 0!important;
}

nav {
    background-color: blueviolet;
    transition: top 0.3s;
    padding: 0!important;
    height: 100%;
}

nav img {
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 10vh;
    display: block;
}

nav a:nth-child(2) img {
    margin-top: 15vh!important;
}

nav a img {
    opacity: 0.8;
    transition: 0.5s;
}

nav a img:hover {
    opacity: 1;
}

.active img {
    opacity: 1;
}

main {
    background-color: #E7ECEF;
    margin: 0!important;
    padding: 0;
}

main .start-img-container {
    text-align: center;
    margin: auto!important;
    margin-bottom: 20px!important;
}

main .start-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto!important;
}

.frontend-backend {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 690px;
    max-height: 100%;
}

.what-is-container {
    justify-content: center;
    display: flex;
    pointer-events: none;
}

.what-is-container div {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.what-is-container div div {
    height: 100%;
    width: 50%;
    background: white;
    opacity: 0;
    transition: 1s ease-in-out;
    padding: 20px;
    display: block;
}

.what-is-container img {
    pointer-events: auto;
    transition: 1s;
    max-width: 50%;
}

/* Hacky Blur Hover animation*/

.what-is-container img:hover {
    filter: blur(5px);
    transform: scale(1.03);
}

.what-is-container .backend:hover ~ div div:nth-child(1) {
    opacity: 0.8;
}

.what-is-container .frontend:hover ~ div div:nth-child(2) {
    opacity: 0.8;
}

#Example .wrapper {
  height: 0;
  transition: 1s ease-in-out!important;
}

#Example .wrapper.show {
    height: 500px;
}

.editor {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

.code-wrapper {
    height: 450px;
}

.main-container {
    padding: 0;
}

header {
    background-color: blueviolet;
    height: 75px;
    margin: 0!important;
    padding: 0;
}

header h1 {
    margin: auto;
    color: #d9ebeb;
    text-shadow: -1px 0 2px #d49ccb, 0 1px 2px #d49ccb, 1px 0 2px #d49ccb, 0 -1px 2px #d49ccb;
}

header.scrolled {
    height: 35px;
    position: fixed;
    right: 0px;
    width: calc(100%/12*11*1.001); /*CSS HACKSOR*/
    z-index: 100;
}

header.scrolled h1 {
    font-size: 20px;
}

main.scrolled {
    margin-top: 75px!important;
}

section>h2, section>h3, section>h4 {
    text-align: center;
}

.schnittstellenB {
    display: inline;
    padding: 20px;
    margin: 5px;

}

.buttonBox {
    width: 100%;

}

footer {
    background-color: #E7ECEF;
    height: 75px;
    margin: 0!important;
    padding: 0;
    display: flex;
    justify-content: left;
    padding: 50px;
}

.copyright {
  flex-grow: 1;
  text-align: center;
  line-height: 500%;
}

.back-to-top {
    width: fit-content;
    margin: auto;
}

.back-to-top img {
    height: 50px;
    width: 50px;
    margin: auto;
    margin-bottom: 5px;
    display: block;
}

.hamburger {
    margin-top: 12.5px;
    display: none;
}

/* Custome Media Queries*/

@media screen and (max-width: 767px) {
    #nav {
        overflow: hidden;
        height: 75px;
        transition: 0.5s;
    }

    .hamburger {
        display: block;
    }

    .active-menue {
        height: 100%!important;
    }

    header {
        position: fixed;
        right: 0px;
        width: 100vw;
        z-index: 100;
    }

    header.scrolled {
        height: 75px!important
    }

    main {
        margin-top: 75px!important;
    }
}

.media img {
    width: 64px!important;
    height: 64px!important;
}

/* Explicit Bootstrap overrides!*/

.btn-primary {
    background-color: #af5efb!important;
    border-color: #bc75ff!important;
}

.btn-secondary {
    background-color: #c485ff!important;
    border-color: #c485ff!important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(196,141,247,.5)!important;
}
